body {
    font-family: 'Recursive', sans-serif;
    line-height: 1.1em;
    color: #FFFFFF;
    background-color: #1F2739;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-size: 2.5em; 
    line-height: 1.3em;
    text-align: center;
    color: #4DC3FA;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

.table-wrapper {
    overflow: auto;
}

table {
    margin: 0 auto;
    font-size: 18px;
    border-collapse: collapse;
}

th {
    color: #74a6bd;
    background-color: #1F2739;
}

td, th {
    cursor: default;
    border: 1px solid #1F2739;
    text-align: center;
    /* white-space: nowrap; */
    padding: 7px;
    overflow: hidden;
    transition:
        max-width 1s ease,
        width 1s ease,
        padding 1s ease,
        border-width 1s ease;
}

tr:nth-child(odd) {
    background-color: #323C50;
}

tr:nth-child(even) {
    background-color: #2C3446;
}

td:first-child { 
    color: #FB667A;
}

tr:hover {
   background-color: #464452;
}

.initial-hidden {
    max-width: 0;
    width: 0;
    border-width: 0;
    padding: 0;
}

.no-line-break {
    white-space: nowrap;
}

.margin-top-40 {
    margin-top: 40px;
}

.title {
    text-align: center;
}

.team-name {
    text-align: left;
    position: -webkit-sticky;
    position: sticky;
}

.team-image {
    background-color: #eee;
    padding: 5px;
}

.team-image-sm {
    width: 30px;
    min-width: 30px;
}

.updated {
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    font-style: italic;
}

.footer {
    text-align: center;
}

.expand-reduce-container {
    max-width: 16px;
    font-size: 20px;
}

.expand-reduce-container a {
    margin-left: -2px;
}

.expand-reduce-container:hover {
    background-color: #eee;
    cursor: pointer;
}

@media (max-width: 800px) {
    table td:nth-child(4),
    table th:nth-child(4) { display: none; }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    }

    table {
        font-size: 16px;
    }
}
