body {
    font-family: 'Ubuntu', sans-serif;
}

.margin-top-40 {
    margin-top: 40px;
}

a {
    color: inherit;
}

@media only screen and (max-width: 768px) {
    .container-fluid
    {
      text-align: center;
    }
  }

table {
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.flashes {
    color: green;
}
