body {
    font-family: 'Ubuntu', sans-serif;
}

.content {
    margin-left: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

a {
    color: inherit;
}

table {
    border-collapse: collapse;
    width: 50%;
    height: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    color: slategrey;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.updated {
    padding: 10px;
    padding-bottom: 30px;
    font-style: italic;
}

.footer {
    text-align: center;
}

.expand-reduce-container {
    max-width: 16px;
    font-size: 20px;
}

.expand-reduce-container a {
    margin-left: -2px;
}

.expand-reduce-container:hover {
    background-color: #eee;
    cursor: pointer;
}
