body {
    font-family: 'Recursive', sans-serif;
    line-height: 1.1em;
    color: #FFFFFF;
    background-color: #1F2739;
}

.content {
    margin: 0 auto;
    max-width: 1000px;
}

h1 {
    font-size: 3em; 
    line-height: 1.3em;
    text-align: center;
    color: #4DC3FA;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

table {
    margin: 0 auto;
    font-size: 18px;
    border-collapse: collapse;
    height: 100%;
    overflow-x: auto;
}

th {
    color: #74a6bd;
    background-color: #1F2739;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    white-space: nowrap;
    padding: 7px;
}

tr:nth-child(odd) {
    background-color: #323C50;
}

tr:nth-child(even) {
    background-color: #2C3446;
}

td:first-child { 
    color: #FB667A;
}

tr:hover {
   background-color: #464452;
}

.no-line-break {
    white-space: nowrap;
}

.margin-top-40 {
    margin-top: 40px;
}

.title {
    text-align: center;
}

.team {
    text-align: left;
}

.updated {
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;
    font-style: italic;
}

.footer {
    text-align: center;
}

.expand-reduce-container {
    max-width: 16px;
    font-size: 20px;
}

.expand-reduce-container a {
    margin-left: -2px;
}

.expand-reduce-container:hover {
    background-color: #eee;
    cursor: pointer;
}

/* table td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
} */

@media (max-width: 800px) {
    table td:nth-child(4),
    table th:nth-child(4) { display: none; }
}

@media (max-width: 400px) {
    h1 {
        font-size: 30px;
    }

    table {
        font-size: 16px;
    }
}
