<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/BATH5627.svg" alt="Bath Rugby" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/BRIS5950.svg" alt="Bristol Bears" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/EXET7458.svg" alt="Exeter Chiefs" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/GLOU5573.svg" alt="Gloucester Rugby" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/HARL5785.svg" alt="Harlequins" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/LEIC7782.svg" alt="Leicester Tigers" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/NEWC1579.svg" alt="Newcastle Falcons" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/NORT3133.svg" alt="Northampton Saints" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/SALE8393.svg" alt="Sale Sharks" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/SARA4298.svg" alt="Saracens" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/LOND5443.svg" alt="Wasps" />
    <img class="img-responsive" src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/WORC9240.svg" alt="Worcester Warriors" />
</body>
</html>