{% extends "layout.html" %}

{% block style %}
<style>
table {
    font-family: verdana, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}
{% block body %}
<div style="margin-left:30px">
    <h1 style="font-family: verdana">UK Rugby Union Premiership Table</h1>
    <table>
        <tr>
        {% for i in data[0] %}
            <th style="color:slategrey">
                {{ i }}
            </th>
        {% endfor %}
        </tr>
        {% for j in data[1:] %}
            <tr>
                {% for k in j %}
                <td>
                    {{ k }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

</html>
