{% extends "layout.html" %}
{% block title %}Rugby Table{% endblock %}
{% block body %}
<div class="content">
    <h1>Gallagher Premiership Rugby Table {{ year }}-{{ next_year_short }}</h1>
    <table>
        <tr>
            {% for table_header in table_data[0] %}
            <th>
                {{ table_header }}
            </th>
            {% if loop.index == 1 %}
            <th>
                Logo
            </th>
            {% endif %}
            {% endfor %}
        </tr>
        {% for row in table_data[1:] %}
        <tr>
            {% for col in row %}
            {% if col == 'image' %}
            <td><img width=40
                    src="https://cdn.soticservers.net/tools/images/teams/logos/RUGBY969513/d/{{ logos[row[2].lower()] }}"
                    alt="{{ row[2] }} logo" /></td>
            {% else %}
            <td>
                {{ col }}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <div>
        <button id="expand" onclick="showColumns(this);">Expand Table</button>
        <button id="reduce" onclick="hideColumns(this);">Reduce Table</button>
        <p class="updated">Updated: {{ updated }}</p>
    </div>

    {% if year != CURRENT_YEAR %}
    <h3>Graphs</h3>
    <div>
        <img src="/static/graphs/points.png" width=800 />
    </div>
    <hr>
    <div>
        <img src="/static/graphs/places.png" width=800 />
    </div>
    {% endif %}
</div>
{% endblock %}

{% block customScripts %}
<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"> </script>
{% endblock %}

</html>