{% extends "layout.html" %}
{% block title %}Rugby Table{% endblock %}
{% block body %}
<div style="margin-left:30px">
    <h1>UK Rugby Union Premiership Table</h1>
    <table>
        <tr>
        {% for i in data[0] %}
            <th style="color:slategrey">
                {{ i }}
            </th>
        {% endfor %}
        </tr>
        {% for j in data[1:] %}
            <tr>
                {% for k in j %}
                <td>
                    {{ k }}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br>
    <p><strong>API endpoint found here: </strong><a href="https://rugby.edhazledine.com/api/v1/table/all">https://rugby.edhazledine.com/api/v1/table/all</a></p>
</div>
{% endblock %}

</html>
