<!DOCTYPE html>
<html lang="en-GB">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Ed Hazledine: {% block title %}{% endblock %}</title>

  <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
    integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
    crossorigin="anonymous"></script>
</head>

<body>

  <div>
    <hr>
    <a style="margin-left: 10px; margin-top: 10px" href="{{ url_for('index') }}">2019-20</a>
    <a style="margin-left: 10px; margin-top: 10px" href="{{ url_for('rugby_year', year=2018) }}">2018-19</a>
    <hr>
  </div>

  {% block body %}{% endblock %}
  <div class="footer">
    <hr>
    <p><i class="far fa-copyright"></i> E. Hazledine 2020<br><a href="https://github.com/edhaz" target="_blank"
        title="Github"><i class="fab fa-github fa-2x" title="Github"></i></a> <a href="https://twitter.com/ed_the_coder"
        target="_blank" title="Twitter"><i class="fab fa-twitter fa-2x" title="Twitter"></i></a></p>
  </div>
  {% block customScripts %}{% endblock %}

</body>

</html>