{% extends "layout.html" %}
{% block title %}Rugby Table{% endblock %}


{% block body %}
<div style="margin-left: 30px;">
    <h1>Add stats below.</h1>

    <form action="{{ url_for('add_stats') }}" method="post">
        <input type="text" name="place" placeholder="place" required><br>
        <input type="text" name="round_number" placeholder="round_number" required><br>
        <input type="text" name="team_id" placeholder="team_id" required><br>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
